---
title: Rodel | Data Engineer & Data Scientist
description: Personal Website.
---
<!DOCTYPE HTML>
<html class="no-js">
	<head>
	
    {% include head.html %}
	
	</head>
	
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<h2></h2>
						<!--	 <h2>"The only way to do great work is to love what you do.<br/>If you haven't found it yet, keep looking. Don't settle." -Steve Jobs -->
								</h2>
								<!-- <p>If you have any questions, suggestions or interesting comments feel free to contact me below or at <a href="https://www.twitter.com/rodelvro">@rodelvro</a></p> -->
						<ul class="actions">
							<li><a href="#main" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
				</div>
				<!-- Header 
					<header id="header"></header>
						<a href="#main" class="logo scrolly">{{site.title}}</a>
					 -->
				
				
				
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
			  <li><a href="https://linkedin.com/in/{{site.facebook}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>
				
				<!-- Main -->
					<div id="main">
						<article class="post featured">
										<h1><a href="#aboutme" class="scrolly">
											<span id="js-fading">Engineering Manager | Data Scientist | Math-matician | Ping Pong Player | ETLer | Data Engineer </span>
										</a></h1>							
								
								<!-- Main image -->
								<a href="#aboutme" class="image main scrolly"><img src="{{ "/images/Me-Office.jpg" | absolute_url }}" alt="" /></a>
				
				
							<!-- About me -->
					<div id="aboutme"></div>
					<hr>
						<header class="minor"><h3>Hi, I'm Rodel.</h3></header>
							<p>
							Currently, I am working as Founding Data Engineer at Solvimon. 
							Solvimon is a next-generation billing platform designed to help fast growing businesses manage their billing and pricing operations flawlessly.
							With Solvimon, businesses can say goodbye to revenue leakage, billing errors, and manual processes that slow down growth. 
							At Solvimon, I am responsible for everything data related, from setting up the data infrastructure to creating valuable insights for platforms.
							</p>
							<font color="grey">
							<p>
							My career started as a Data Scientist at ING Bank in the Netherlands. 
							There I worked on implementing, improving and validating machine learning models for risk management.  
							The projects focused on predictive analytics for client behaviour in mortgages and saving accounts using machine learning models. 
							Examples of this are prediction of mortgage prepayments, savings balances and segmentation of mortgage clients based on prepayment behaviour.
							</p>
							<p>
							After ING, I worked for 5 years at Adyen. At Adyen I have worked on building their data infrastructure and data products. 
							Among others, I led the initiative that resulted in the first end-to-end machine learning model in production. 
							This helped boost revenue for Adyen's by hundreds of millions of euros.
							At Adyen I have obtained broad knowledge on usage and implementation of business intelligence applications, data pipelines, data platform engineering and machine learning engineering.
							</p></font>
							
								<p>
									<ul class="actions">
										<li><a href="{{ "/docs/CV.pdf" | absolute_url }}" class="button">Download Resume</a></li>
										</ul>
									</p>
				
				</article>
				
				<article class="post featured">
				<!-- Skills -->
				<div id="skills"></div>
					<header class="minor">
						<h1><a href="#skills" class="scrolly">Skills</a></h1>
						</header>
						&nbsp;

					<div id="skillbars">
					<div class="skillbar clearfix " data-percent="98%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Python</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">98%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="92%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Spark</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">92%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="89%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>SQL</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">89%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="81%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>R</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">81%</div>
					</div> <!-- End Skill Bar -->					
					
					<div class="skillbar clearfix " data-percent="70%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Java</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">70%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="13%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Self-evaluation</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">13%</div>
					</div> <!-- End Skill Bar -->
					</div>
					
					</article>
					
				
			<!-- Knowledge -->
			
				<article class="post featured">
				<div id="knowledge"></div>	
					<header class="minor">
						<h1><a href="#knowledge" class="scrolly">Mastery</a></h1>
						</header>
						&nbsp;
			<div id="charts">
			<div class="panel">
			
			  <div class="chart" data-percent="94"> <!-- Begin Chart -->
			  <div class="label">ML Engineering</div>
			  <span>94</span><sup>%</sup></div> <!-- End Chart -->
			  
			  <div class="chart" data-percent="98"> <!-- Begin Chart -->
			  <div class="label">Data Analysis</div>
			  <span>98</span><sup>%</sup></div> <!-- End Chart -->
			  
			  <div class="chart" data-percent="81"> <!-- Begin Chart -->
			  <div class="label">Reinforcement Learning</div>
			  <span>81</span><sup>%</sup></div> <!-- End Chart -->
			 		  
			</div>
			
			<div class="panel">
			  <div class="chart" data-percent="92"> <!-- Begin Chart -->
			  <div class="label">Business Intelligence</div>
			  <span>92</span><sup>%</sup></div>

			  <div class="chart" data-percent="88"> <!-- Begin Chart -->
			  <div class="label">Data Pipelines</div>
			  <span>88</span><sup>%</sup></div> <!-- End Chart -->			  
			  
			  <div class="chart" data-percent="67"> <!-- Begin Chart -->
			  <div class="label">Software Engineering</div>
			  <span>67</span><sup>%</sup></div> <!-- End Chart -->
			  
			</div>
			</div>
			</article>

		
		<!-- Experience -->
		
			<article class="post featured">
				<div id="jobexperience"></div>	
					<header class="minor">
						<h1><a href="#jobexperience" class="scrolly">Work</a></h1>
						</header>
				<section class="timeline">
				  <ul>
				  <li>
					  <div>
						<h3>July 2023 - Present</h3>
						<h4>Founding Data Engineer at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 First Data Engineer;
						<br>	
						&#9675 Setting up everything data from scratch;		
						</h5>-->
					  </div>
				  </li>
				  <li>
					  <div>
						<h3>January 2023 - June 2023</h3>
						<h4>Engineering Manager, Machine Learning and Analytics at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Managing multiple teams that look after fraud detection and analytics/reporting for merchants;
						<br>	
						&#9675 Managing team leads and staff engineers;		
						</h5>-->
					  </div>
				  </li>
				  <li>
					  <div>
						<h3>January 2022 - December 2022</h3>
						<h4>Tech Lead and Data Scientist (Fraud Detection and Authentication) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Machine Learning for Fraud (RevenueProtect, Automated Risk);
						<br>	
						&#9675 Machine Learning for Authentication Optimisation;
						<br>
						&#9675 Grew a team of 6 to 15;				
						</h5>-->
					  </div>
				  </li>
				  <li>
					  <div>
						<h3>January 2021 - December 2021</h3>
						<h4>Tech Lead and Data Scientist (Payment Conversion and Experimentation Platform) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Payment conversion rate optimisation (RevenueAccelerate);
						<br>	
						&#9675 Introduced the first low latency machine learning model in production;
						<br>
						&#9675 Mentored 6 Data Analysts/Scientists;				
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2019 - December 2020</h3>
						<h4>Senior Data Scientist (Conversion) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Payment conversion rate optimisation (RevenueAccelerate);
						<br>	
						&#9675 Introduced the first low latency machine learning model in production;
						<br>
						&#9675 Mentored 6 Data Analysts/Scientists;				
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2018 - June 2019</h3>
						<h4>Data Scientist (Recurring) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Built a recurring payment rescue product (AutoRescue);
						<br>
						&#9675 Helped built the Big Data Platform;	
						<br>
						&#9675 Managed ETL pipeline for BI insights;					
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2017 - June 2018</h3>
						<h4>Data Scientist (Risk) at ING</h4>
						<!--<h5 style="text-align:left">
						&#9675 Asset/Liability modelling;
						<br>						
						&#9675 Machine Learning;
						<br>
						&#9675 Client behaviour modelling; 
						<br>
						&#9675 Economic Capital modelling; 
						<br>						
						&#9675 Client segmentation;
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2016 - June 2017</h3>
						<h4>Data Scientist (Model Risk) at ING</h4>
						<!--<h5 style="text-align:left">
						&#9675 Validation of machine learning models;
						<br>						
						&#9675 Writing reports for senior management on model risk;
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>Dec 2015 - May 2016</h3>
						<h4>Intern at Rabobank</h4>
						<!--<h5 style="text-align:left">
						&#9675 Credit Risk;
						<br>
						&#9675 Time series modelling;
						<br>
						&#9675 Business cycles;
						<br>
						&#9675 Probability of Default;						
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2010 - Nov 2015</h3>
						<h4>Team Lead at Albert Heijn</h4>
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>
				
		<!-- Education -->
		
			<article class="post featured">
				<div id="education"></div>	
					<header class="minor">
						<h1><a href="#education" class="scrolly">Learning</a></h1>
						</header>
				<section class="timeline">
				  <ul>
					<li>
					  <div>
					  <h3> MSc in Mathematics </h3>
						<h4>Sept 2014 - July 2016</h4>
						<!--<h6 style="text-align:left">
						&#9675 Thesis: Time series modelling;
						<br>
						&#9675 Applied statistical modelling;
						<br>	
						&#9675 Advanced computational finance;
						<br>	
						&#9675 Advanced programming in Python; 
						</h6>-->
						
					  </div>
					</li>
					<li>
					  <div>
						<h3> BSc in Mathematics </h3>
						<h4>Sept 2011 - Aug 2014</h4>
						<!--<h6 style="text-align:left">
						&#9675 Thesis: Exponential random graph model;						
						<br>
						&#9675 Probability theory and statistics;
						<br>
						&#9675 Econometrics and Mathematical Economics;
						<br>						
						&#9675 Mathematical Analysis;
						<br>
						</h6> -->
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>		
		
		<!-- Footer -->
		
		{% include foot.html %}
		
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
