---
title: Rodel | Data Scientist
description: This is Rodel.
---
<!DOCTYPE HTML>
<html class="no-js">
	<head>
	
    {% include head.html %}
	
	</head>
	
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<h1>I'm Rodel.</h1>
							<h2>"The only way to do great work is to love what you do.<br/>If you haven't found it yet, keep looking. Don't settle." -Steve Jobs
								</h2>
								<!-- <p>If you have any questions, suggestions or interesting comments feel free to contact me below or at <a href="https://www.twitter.com/rodelvro">@rodelvro</a></p> -->
						<ul class="actions">
							<li><a href="#main" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
				</div>
				<!-- Header 
					<header id="header"></header>
						<a href="#main" class="logo scrolly">{{site.title}}</a>
					 -->
				
				
				
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
			  <li><a href="https://linkedin.com/in/{{site.facebook}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>
				
				<!-- Main -->
					<div id="main">
						<article class="post featured">
										<h1><a href="#aboutme" class="scrolly">
											<span id="js-fading">Data Scientist | Math Magician | Self-starter | Ping Pong Player | World Traveller | Quant | Master in Statistics</span>
										</a></h1>							
								
								<!-- Main image -->
								<a href="#aboutme" class="image main scrolly"><img src="{{ "/images/Me-EURONEXT.jpg" | absolute_url }}" alt="" /></a>
				
				
							<!-- About me -->
					<div id="aboutme"></div>
						<header class="minor"><h3>Hi, I'm Rodel.</h3></header>
							<p> 
								I was born and raised in the Netherlands. I am honored to be half Dutch and half Filipino. 
								My Dutch roots make me love the typical Dutch cuisines like <i>zuurkool</i> and Dutch snacks like <i> stroopwafels</i>. 
								On the other hand I love being in tropical countries and enjoying nice weather.
								Currently I am happily living in the modern city of Almere. Which provides me healthy balance of fun and relaxation.
								</p>
								
								<hr>
								
									<font color="grey">
									<p>
									Currently, I am working as a Data Scientist at Adyen. 
									Adyen is known for building a modern payment infrastructure which is directly connected to card networks and local payment methods across the world, allowing for unified commerce and providing shopper data insights to merchants. 
									The Adyen platform enables merchants, world-wide, to accept payments in a single system, enabling revenue growth online, on mobile devices and at the point of sale.
									<!--My main responsibilities are providing Data Science support to the Recurring & Tokenization stream. 
									This includes but is not limited to developing machine learning models, data engineering, big data analysis. -->
									</p>
									
									<p>
									My career started as a Data Scientist at ING in the Netherlands. 
									ING is the biggest Bank in the Netherlands and is regarded as an innovative company, usually being one of the first adopters of new technological advances in the banking sector.
									I have mainly worked on implementing machine learning models for risk management. 
									The primary focus was developing models for the purpose of Asset and Liability Management. 
									The machine learning models focussed on predictive analytics for client behaviour and for performing client segmentation. 
									Examples of this are prediction of mortgage prepayments, savings balances and segmentation of mortgage clients based on prepayment behaviour.
										</p></font>
										
											<p>
												<ul class="actions">
													<li><a href="{{ "/docs/CV.pdf" | absolute_url }}" class="button">Download Resume</a></li>
													</ul>
												</p>
				
				</article>
				
				<article class="post featured">
				<!-- Skills -->
				<div id="skills"></div>
					<header class="minor">
						<h1><a href="#skills" class="scrolly">Skills</a></h1>
						</header>
						&nbsp;

					<div id="skillbars">
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title" style="background: #333333;"><span>Python</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">80%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title" style="background: #333333;"><span>R</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">80%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="80%">
						<div class="skillbar-title" style="background: #333333;"><span>MATLAB</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">80%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="70%">
						<div class="skillbar-title" style="background: #333333;"><span>PySpark</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">70%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="70%">
						<div class="skillbar-title" style="background: #333333;"><span>SQL</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">70%</div>
					</div> <!-- End Skill Bar -->					
					
					<div class="skillbar clearfix " data-percent="60%">
						<div class="skillbar-title" style="background: #333333;"><span>HTML5</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">60%</div>
					</div> <!-- End Skill Bar -->

					<div class="skillbar clearfix " data-percent="50%">
						<div class="skillbar-title" style="background: #333333;"><span>CSS3</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">50%</div>
					</div> <!-- End Skill Bar -->
					</div>
					
					</article>
					
				
			<!-- Knowledge -->
			
				<article class="post featured">
				<div id="knowledge"></div>	
					<header class="minor">
						<h1><a href="#knowledge" class="scrolly">Mastery</a></h1>
						</header>
						&nbsp;
			<div id="charts">
			<div class="panel">
			
			  <div class="chart" data-percent="80">
			  <div class="label">Machine Learning</div>
			  <span>80</span><sup>%</sup></div>
			  
			  <div class="chart" data-percent="70">
			  <div class="label">Data Analysis</div>
			  <span>70</span><sup>%</sup></div>
			  
			  <div class="chart" data-percent="50">
			  <div class="label">Deep Learning</div>
			  <span>50</span><sup>%</sup></div>
			 		  
			</div>
			
			<div class="panel">
			  <div class="chart" data-percent="80">
			  <div class="label">Quantitative Analysis</div>
			  <span>80</span><sup>%</sup></div>

			  <div class="chart" data-percent="80">
			  <div class="label">Risk Modelling</div>
			  <span>80</span><sup>%</sup></div>			  
			  
			  <div class="chart" data-percent="20">
			  <div class="label">Data Engineering</div>
			  <span>20</span><sup>%</sup></div>
			  
			</div>
			</div>
			</article>
		
		<!-- Experience -->
		
			<article class="post featured">
				<div id="education"></div>	
					<header class="minor">
						<h1><a href="#education" class="scrolly">Learning</a></h1>
						</header>
				<section class="timeline">
				  <ul>
					<li>
					  <div>
					  <h2> MSc in Mathematics </h2>
						<h3>Sept 2014 - July 2016</h3>
						<h6 style="text-align:left">
						&#9675 Thesis: Credit risk;
						<br>
						&#9675 Applied statistical modelling;
						<br>	
						&#9675 Advanced computational finance;
						<br>	
						&#9675 Advanced programming in Python;
						</h6>
					  </div>
					</li>
					<li>
					  <div>
						<h2> BSc in Mathematics </h2>
						<h3>Sept 2011 - Aug 2014</h3>
						<h6 style="text-align:left">
						&#9675 Thesis: Exponential random graph model;						
						<br>
						&#9675 Probability theory and statistics;
						<br>
						&#9675 Econometrics and Mathematical Economics;
						<br>						
						&#9675 Mathematical Analysis;
						<br>
						</h6>
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>

		
		<!-- Experience -->
		
			<article class="post featured">
				<div id="jobexperience"></div>	
					<header class="minor">
						<h1><a href="#jobexperience" class="scrolly">Work</a></h1>
						</header>
				<section class="timeline">
				  <ul>
					<li>
					  <div>
						<h3>July 2018 - Present</h3>
						<h4>Data Scientist at Adyen</h4>
						<h5 style="text-align:left">
						&#9675 Tokenization;
						<br>	
						&#9675 Machine Learning;
						<br>
						&#9675 Payment innovation;	
						<br>
						&#9675 Data Engineering;							
						</h5>
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2016 - June 2018</h3>
						<h4>Data Scientist at ING</h4>
						<h5 style="text-align:left">
						&#9675 Asset/Liability modelling;
						<br>						
						&#9675 Machine Learning;
						<br>
						&#9675 Client behaviour modelling; 
						<br>
						&#9675 Economic Capital modelling; 
						<br>						
						&#9675 Client segmentation;
						</h5>
					  </div>
					</li>
					<li>
					  <div>
						<h3>Dec 2015 - May 2016</h3>
						<h4>Intern at Rabobank</h4>
						<h5 style="text-align:left">
						&#9675 Credit Risk;
						<br>
						&#9675 Business cycles;
						<br>
						&#9675 Probability of Default;						
						</h5>
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2010 - Nov 2015</h3>
						<h4>Teamlead at Albert Heijn</h4>
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>
		<!-- Footer -->
		
		{% include foot.html %}
		
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
