---
title: Rodel | Tech Lead & Data Scientist
description: This is Rodel.
---
<!DOCTYPE HTML>
<html class="no-js">
	<head>
	
    {% include head.html %}
	
	</head>
	
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<h2></h2>
						<!--	 <h2>"The only way to do great work is to love what you do.<br/>If you haven't found it yet, keep looking. Don't settle." -Steve Jobs -->
								</h2>
								<!-- <p>If you have any questions, suggestions or interesting comments feel free to contact me below or at <a href="https://www.twitter.com/rodelvro">@rodelvro</a></p> -->
						<ul class="actions">
							<li><a href="#main" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
				</div>
				<!-- Header 
					<header id="header"></header>
						<a href="#main" class="logo scrolly">{{site.title}}</a>
					 -->
				
				
				
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
			  <li><a href="https://linkedin.com/in/{{site.facebook}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>
				
				<!-- Main -->
					<div id="main">
						<article class="post featured">
										<h1><a href="#aboutme" class="scrolly">
											<span id="js-fading">Tech Lead | Data Scientist | Math-matician | Ping Pong Player | ETLer </span>
										</a></h1>							
								
								<!-- Main image -->
								<a href="#aboutme" class="image main scrolly"><img src="{{ "/images/Me-Office.jpg" | absolute_url }}" alt="" /></a>
				
				
							<!-- About me -->
					<div id="aboutme"></div>
					<hr>
						<header class="minor"><h3>Hi, I'm Rodel.</h3></header>
							<p>
							Currently, I am working as a Technical Team Lead (Tech Lead) and Data Scientist at Adyen. 
							I am responsible for leading a multidisciplinary team of Data Scientists/Engineers and Software Engineers that aim to produce end-to-end Machine Learning based solutions.
							Given my past experience, I furthermore have obtained broad knowledge on usage and implementation of business intelligence applications and data engineering pipelines.
							</p>
							<p>
							Chances are high that somewhere in the past Adyen has made your payment happen. 
							Adyen processes payments for Uber, Spotify, Netflix, Nike, Google, Apple, etc. 
							Adyen is known for building a modern payment infrastructure which is directly connected to card networks and local payment methods across the world, allowing for unified commerce and providing shopper data insights to merchants. 
							The Adyen platform enables merchants, world-wide, to accept payments in a single system, enabling revenue growth online, on mobile devices and at the point of sale.
							</p>
							<p>
							<div align='left'>
							
							Examples of achieved projects at Adyen:
							<ul>
								<li> 
								A reinforcement learning framework aimed at optimizing the payment conversion rate. 
								Several applications of this framework are packaged in a product called RevenueAccelerate. 
								The combined revenue increase for Adyen merchants is in the hundred millions of euros...
								</li>
								<li> 
								A machine learning based solution for automatically recovering subscription based payments called AutoRescue. 
								Did you ever not have enough funds on your card or bank account to make a subscription payment? 
								AutoRescue enables merchants to recover these payments by intelligently rescheduling it at a later date.
								</li>
								<li> 
								Establishing and maintaining data pre-processing and data pipelines (ETL) using Apache Spark and Apache Airflow.
								This work has laid the building blocks of what now is the Big Data Platform of Adyen.
								The platform enables users to produce business intelligence insights, machine learning models and data pipelines.
								</li>
							</ul>
							</div>
							</br>
							
							</p>
							<font color="grey">
				
							<p>
							My career started as a Data Scientist at ING Bank in the Netherlands. 
							There I worked on implementing, improving and validating machine learning models for risk management.  
							The projects focused on predictive analytics for client behaviour in mortgages and saving accounts using machine learning models. 
							Examples of this are prediction of mortgage prepayments, savings balances and segmentation of mortgage clients based on prepayment behaviour.
							</p></font>
							
								<p>
									<ul class="actions">
										<li><a href="{{ "/docs/CV.pdf" | absolute_url }}" class="button">Download Resume</a></li>
										</ul>
									</p>
				
				</article>
				
				<article class="post featured">
				<!-- Skills -->
				<div id="skills"></div>
					<header class="minor">
						<h1><a href="#skills" class="scrolly">Skills</a></h1>
						</header>
						&nbsp;

					<div id="skillbars">
					<div class="skillbar clearfix " data-percent="98%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Python</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">98%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="92%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Spark</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">92%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="89%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>SQL</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">89%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="81%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>R</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">81%</div>
					</div> <!-- End Skill Bar -->					
					
					<div class="skillbar clearfix " data-percent="70%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Java</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">70%</div>
					</div> <!-- End Skill Bar -->
					
					<div class="skillbar clearfix " data-percent="13%"> <!-- Begin Skill Bar -->
						<div class="skillbar-title" style="background: #333333;"><span>Self-evaluation</span></div>
						<div class="skillbar-bar" style="background: #A9A9A9;"></div>
						<div class="skill-bar-percent">13%</div>
					</div> <!-- End Skill Bar -->
					</div>
					
					</article>
					
				
			<!-- Knowledge -->
			
				<article class="post featured">
				<div id="knowledge"></div>	
					<header class="minor">
						<h1><a href="#knowledge" class="scrolly">Mastery</a></h1>
						</header>
						&nbsp;
			<div id="charts">
			<div class="panel">
			
			  <div class="chart" data-percent="94"> <!-- Begin Chart -->
			  <div class="label">ML Engineering</div>
			  <span>94</span><sup>%</sup></div> <!-- End Chart -->
			  
			  <div class="chart" data-percent="98"> <!-- Begin Chart -->
			  <div class="label">Data Analysis</div>
			  <span>98</span><sup>%</sup></div> <!-- End Chart -->
			  
			  <div class="chart" data-percent="81"> <!-- Begin Chart -->
			  <div class="label">Reinforcement Learning</div>
			  <span>81</span><sup>%</sup></div> <!-- End Chart -->
			 		  
			</div>
			
			<div class="panel">
			  <div class="chart" data-percent="92"> <!-- Begin Chart -->
			  <div class="label">Business Intelligence</div>
			  <span>92</span><sup>%</sup></div>

			  <div class="chart" data-percent="88"> <!-- Begin Chart -->
			  <div class="label">Data Pipelines</div>
			  <span>88</span><sup>%</sup></div> <!-- End Chart -->			  
			  
			  <div class="chart" data-percent="67"> <!-- Begin Chart -->
			  <div class="label">Software Engineering</div>
			  <span>67</span><sup>%</sup></div> <!-- End Chart -->
			  
			</div>
			</div>
			</article>

		
		<!-- Experience -->
		
			<article class="post featured">
				<div id="jobexperience"></div>	
					<header class="minor">
						<h1><a href="#jobexperience" class="scrolly">Work</a></h1>
						</header>
				<section class="timeline">
				  <ul>
				  <li>
					  <div>
						<h3>January 2021 - Present</h3>
						<h4>Tech Lead and Data Scientist (Payment Conversion and Experimentation Platform) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Payment conversion rate optimisation (RevenueAccelerate);
						<br>	
						&#9675 Introduced the first low latency machine learning model in production;
						<br>
						&#9675 Mentored 6 Data Analysts/Scientists;				
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2019 - December 2020</h3>
						<h4>Senior Data Scientist (Conversion) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Payment conversion rate optimisation (RevenueAccelerate);
						<br>	
						&#9675 Introduced the first low latency machine learning model in production;
						<br>
						&#9675 Mentored 6 Data Analysts/Scientists;				
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2018 - June 2019</h3>
						<h4>Data Scientist (Recurring) at Adyen</h4>
						<!--<h5 style="text-align:left">
						&#9675 Built a recurring payment rescue product (AutoRescue);
						<br>
						&#9675 Helped built the Big Data Platform;	
						<br>
						&#9675 Managed ETL pipeline for BI insights;					
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>July 2017 - June 2018</h3>
						<h4>Data Scientist (Risk) at ING</h4>
						<!--<h5 style="text-align:left">
						&#9675 Asset/Liability modelling;
						<br>						
						&#9675 Machine Learning;
						<br>
						&#9675 Client behaviour modelling; 
						<br>
						&#9675 Economic Capital modelling; 
						<br>						
						&#9675 Client segmentation;
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2016 - June 2017</h3>
						<h4>Data Scientist (Model Risk) at ING</h4>
						<!--<h5 style="text-align:left">
						&#9675 Validation of machine learning models;
						<br>						
						&#9675 Writing reports for senior management on model risk;
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>Dec 2015 - May 2016</h3>
						<h4>Intern at Rabobank</h4>
						<!--<h5 style="text-align:left">
						&#9675 Credit Risk;
						<br>
						&#9675 Time series modelling;
						<br>
						&#9675 Business cycles;
						<br>
						&#9675 Probability of Default;						
						</h5>-->
					  </div>
					</li>
					<li>
					  <div>
						<h3>June 2010 - Nov 2015</h3>
						<h4>Team Lead at Albert Heijn</h4>
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>
				
		<!-- Education -->
		
			<article class="post featured">
				<div id="education"></div>	
					<header class="minor">
						<h1><a href="#education" class="scrolly">Learning</a></h1>
						</header>
				<section class="timeline">
				  <ul>
					<li>
					  <div>
					  <h3> MSc in Mathematics </h3>
						<h4>Sept 2014 - July 2016</h4>
						<!--<h6 style="text-align:left">
						&#9675 Thesis: Time series modelling;
						<br>
						&#9675 Applied statistical modelling;
						<br>	
						&#9675 Advanced computational finance;
						<br>	
						&#9675 Advanced programming in Python; 
						</h6>-->
						
					  </div>
					</li>
					<li>
					  <div>
						<h3> BSc in Mathematics </h3>
						<h4>Sept 2011 - Aug 2014</h4>
						<!--<h6 style="text-align:left">
						&#9675 Thesis: Exponential random graph model;						
						<br>
						&#9675 Probability theory and statistics;
						<br>
						&#9675 Econometrics and Mathematical Economics;
						<br>						
						&#9675 Mathematical Analysis;
						<br>
						</h6> -->
					  </div>
					</li>					
				  </ul>
				</section>
		
				</article>		
		
		<!-- Footer -->
		
		{% include foot.html %}
		
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
