<ul class="links">
  <li class="active"><a href="#aboutme" class="scrolly">About me</a></li>
  <!--<li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li> -->
  <li class=""><a href="#skills" class="scrolly">Skills</a></li>
  <li class=""><a href="#knowledge" class="scrolly">Knowledge</a></li>
  <li class=""><a href="#education" class="scrolly">Education</a></li>
  <li class=""><a href="#jobexperience" class="scrolly">Work experience</a></li>
</ul>
