<!-- Plugins JS -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/morphext.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/morphext.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.easypiechart.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>

<!-- Main JS -->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>

<!-- Text Rotator and Scrolling JS -->
<script src="{{ "/assets/js/animations.js" | absolute_url }}"></script>
